*{
  margin: 0;
  padding: 0;
}
body {
    position: relative;
    /*  background-image: url("https://farm6.staticflickr.com/5695/22447126166_2db1545ed4_b.jpg");*/

  background-position: center;
/*  background-color: orange;
*/
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #cc6533;
    display: inline-block;
}


p{
    font-size: 30px;
    margin-top: 25px;
    text-align: center;
    color:white
}